<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>List of Files</title>

    <link rel="stylesheet" href="stylesheets/pure-min.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/book_viewer.css">
</head>

<body>
      <div id="main">
        <div class="header">
          <h1>List of Files</h1>
        </div>

        <div class="content">
          <div class="pure-menu">
            <ul class="pure-menu-list">
              <% @files.each do |file| %>
                <li>
                  <a href="<%= @file %>"><%= file %></a>
                </li>
              <% end %>
            </ul>

            <p>
              <% if params[:sort] == "desc" %>
                <a href = "/">Sort ascending</a>
              <% else %>
                <a href = "/?sort=desc">Sort descending</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
  </div>

  <script type="text/javascript" src="/javascripts/ui.js"></script>
</body>
</html>
