<h1>What The Fuck Should I Read Next?</h1>
<h2>When You Don't Know What The Fuck To Read Next</h2>

<p>You should read <%= randombook_name %> by <%= randombook_name%>.</p>
<p>You can buy it here: <%= randombook_name %>.</p>

<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Fuck That. Give Me Another One.">
</FORM>
